* {
    padding: 0;
    margin: 0 auto;
}
.main {
    min-height: 900px;
    width: 600px;
    float: left;
    box-sizing: border-box;
}
.header {
    min-height: 74px;
    width: 573px;
    background-color: #FBD700;
    float: left;
    padding: 10px;
}
.center { 
    min-height: 270px;
    width: 600px;
}
.nav{
    min-height: 405px;
    width: 93px;
    background-color: #FBD700;
    float: left;
    margin: 15px 0;
    padding: 10px;
}
.article {
    min-height: inherit;
    width: 335px;
    background-color: #FBD700;
    float: left;
    margin: 15px 0 15px 15px;
    padding: 10px;
}
.ads {
    min-height: inherit;
    width: 75px;
    background-color: #FBD700;
    float: left;
    margin: 15px 0 15px 15px;
    padding: 10px;
}
.footer {
    min-height: 100px;
    width: 443px;
    background-color: #FBD700;
    float: left;
    margin-left: 15px;
    padding: 10px;
}
